@import '../../../../globals.css';

.login-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.login-button {
    margin-top: 30px;
}