.questions-list {
    display: flex;
    flex-direction: column;       /* Aligner les éléments verticalement */
    align-items: stretch;         /* Étirer les éléments pour prendre toute la largeur */
    gap: 5px;                    /* Espacement entre les lignes */
    width: 100%;                  /* Prendre toute la largeur disponible */
    max-width: 800px;             /* Limiter la largeur maximale */
    margin: 0 auto;               /* Centrer la liste horizontalement */
    background: white;
    padding: 5px;                /* Ajout de padding pour un espacement interne */
    border-radius: 10px;          /* Coins arrondis */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ajout d'une ombre légère */
  }

.question-button {
    width: 80%;
    max-width: 300px;      /* Limiter la largeur maximale */
    padding: 10px 15px;    /* Espacement interne */
    text-align: center;    /* Centrer le texte dans le bouton */
    border-radius: 5px;    /* Ajouter des coins arrondis */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ajouter une ombre */
}

.main-card{
    width: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    text-align: center;
    font-size: 500px;

}

.quiz-title-container .main-card {
    font-size: 50px; /* Taille du texte */
    font-weight: bold; /* Gras */
    text-align: center; /* Centrer */
    margin-bottom: 20px; /* Espacement sous le titre */
    margin-top: 12%;
}
.questions-list .bar{
    width: 100%;
}
.bar-row {
    display: flex;                /* Flexbox pour aligner horizontalement */

    align-items: center;          /* Aligne verticalement */
    gap: 8px;                    /* Espace entre les éléments */
    width: 100%;                  /* La ligne occupe toute la largeur du conteneur */
}

.bar {
    flex: 1;                      /* Prend tout l'espace disponible */
    text-align: center;
    width: 100%;            /* Aligne le contenu à gauche */
}

.delete-icon {
    flex: 0;                      /* Garde la taille naturelle de l'icône */
    margin-left: auto;            /* Place l'icône complètement à droite */
    display: flex;                /* Ajoute Flexbox pour mieux aligner */
    align-items: center;          /* Centre verticalement l'icône */
    justify-content: center;      /* Centre l'icône dans son conteneur */
}

.questions-list {
    display: flex;
    flex-direction: column;       /* Aligne les lignes verticalement */
    gap: 15px;                    /* Espacement entre les lignes */
    width: 100%;                  /* Prend toute la largeur du conteneur parent */
    max-width: 600px;             /* Limite la largeur */
    margin: 0 auto;               /* Centre horizontalement */
}
