  .profile-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 60%;
    justify-self: center;
    background-color: var(--secondary-white);
    gap: 1rem;
  }
  
  .profile-title {
    font-size: 2.8rem;
    font-weight: 1000;
    color: var(--primary-blue);
    text-align: center;
    margin-bottom: 20px;
  }
  
  .quiz-link-to-create {
    width: 100%;
  }
  
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--primary-white);
    border-radius: 15px;
    gap: 20px;
  }
  
  .profile-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-white);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .profile-item-icon svg {
    width: 6rem;
    height: 4rem;
  }