.text-button {
    border-radius: 20px;
    font-size: 20px;
    padding: 15px 30px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.text-button.size-small {
    font-size: 12px;
    padding: 8px 16px;
}

.text-button.size-medium {
    font-size: 16px;
    padding: 12px 24px;
}

.text-button.size-large {
    font-size: 20px;
    padding: 15px 30px;
}

.text-button.bg-blue {
    background-color: var(--primary-blue);
}

.text-button.bg-green {
    background-color: var(--primary-green);
}

.text-button.bg-yellow {
    background-color: var(--primary-yellow);
}

.text-button.bg-orange {
    background-color: var(--primary-orange);
}

.text-button.bg-red {
    background-color: var(--primary-red);
}

.text-button.bg-grey {
    background-color: var(--primary-grey);
}

.text-button.bg-white {
    background-color: var(--primary-white);
}

.text-button.text-blue {
    color: var(--primary-blue);
}

.text-button.text-green {
    color: var(--primary-green);
}

.text-button.text-yellow {
    color: var(--primary-yellow);
}

.text-button.text-orange {
    color: var(--primary-orange);
}

.text-button.text-red {
    color: var(--primary-red);
}

.text-button.text-grey {
    color: var(--primary-grey);
}

.text-button.text-white {
    color: var(--primary-white);
}

.text-button:active {
    transform: scale(0.95);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.text-button:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
