.input-field {
  border-radius: 25px;
  border: none;
}

.input-field:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.input-field::placeholder {
  text-align: center;
  color: var(--main-blue);
  font-weight: bold;
}
