:root {
    --primary-blue: #0023b1;
    --primary-green: #3bb100;
    --primary-yellow: #b19400;
    --primary-orange: #b15e00;
    --primary-red: #b10f00;
    --primary-grey: #5e5e5e;
    --primary-white: #FFFFFF;
}
