.quiz-list-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--secondary-white);
}

.quiz-list-title {
  font-size: 2.8rem;
  font-weight: 1000;
  color: var(--primary-blue);
  text-align: center;
  margin-bottom: 20px;
}

.quiz-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--primary-white);
  border-radius: 15px;
}

.quiz-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-white);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

.quiz-item-icon svg {
  width: 6rem;
  height: 4rem;
}

.create-quiz-button-container {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  max-width: 450px;
  width: 100%;
}
